<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hvad siger Alex?</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <meta property="og:image" content="http://www.hvadsigeralex.dk/img/head_col.png"/> 
</head>
<body class="{{ .bodyClass }}">
  <div id="bubbleImg">&nbsp;
    <h1 style="{{ .extraCSS }}">{{ .status }}</h1>
	<p id="directLink">{{ .directLink }}</p>
    <a id="head" href="http://alexbp.dk">&nbsp;</a>
  </div>
  <div id="footer">Foto: <a href="http://www.gadang.dk">Frederik Holmgaard</a></div>
</body>
</html>